@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

h1 {
	color: lime;
	padding-top: 3rem
}

body {
	color: lightgrey;
}

span {
    color: yellowgreen
}

section {
	font-size: 80%;
    margin-block: 1rem;
    padding: 1rem;
    border: 1px solid yellowgreen;
    border-radius: 1rem;
}
