<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>temp stuff</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
    <script type="module" src="https://cdn.jsdelivr.net/gh/starfederation/datastar@main/bundles/datastar.js"></script>
</head>
<body>
    <main class="container">
        <h1>hx what</h1>
        <section>
            <p>you will own nothing</p>
            <p>beyond this line</p>
            <p>and be happy</p>
            <hr>
            <div id="widget">
                <button
                data-on-click="@get('/update')"
                ></button>
                <p>Your owner is <span id="replace_me">John Doe</span></p>
            </div>
            <hr>
            <p>you will own nothing</p>
            <p>above this line</p>
            <p>and be happy</p>
        </section>
    </main>
</body>
</html>
