<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>temp stuff</title>
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <script type="module" src="https://cdn.jsdelivr.net/gh/starfederation/datastar@1.0.0-RC.6/bundles/datastar.js"></script>
</head>
<body>
    <main class="container">
        <h1>hello there!</h1>
        <h2>in this channel we code websites and games w/ chill music<h2>
        <!-- <small><a href="https://github.com/1363V4/datastar-tmp">Source code</a></small> -->
        <section>
            <h2>websites? what stack?</h2>
            <p>hypermedia baby</p>
            <p>we use <span>datastar</span> which is an incredible framework</p>
            <em>in fact, it's so incredible, you can ask e to make any website and i'll make it on the spot!</em>
        </section>
        <section>
            <h2>websites i made for viewers</h2>
            <button data-on:click="@get('/blinking')">noirpi</button>
            <small>website to show live server data</small>
        </section>
        <section>
            <h2>my backlog</h2>
            <ul>
				<li>evc visualizer</li>
				<li>evc solver</li>
				<li>multiplayer mpc</li>
				<li>some evc solves (& blog)</li>
				<li>blog on ecs</li>
				<li>twitch bot</li>
				<li>tarte aux poireaux</li>
            </ul>
        </section>
    </main>
</body>
</html>
